<br>
<br>
<center><h1><b><font color="red">P i r a t e  &nbsp; &nbsp;  W a n t e d</font></b></h1></center>

<br>
<p style="margin-left: 40px">Attention <i>@Model.Reader</i>,</p>
<p style="margin-left: 40px"> Have you seen <i>@Model.Suspect</i>?</p>
<p style="margin-left: 40px"> According to recent reports, <i>@Model.Suspect</i> stole <i>@Model.Item1</i> and <i>@Model.Item2</i> from <i>@Model.Victim1</i> and other neighbors the past <i>@Model.Day</i> night.</p>
<p style="margin-left: 40px"> Our council and community are collaborating together in order to recover the <i>@Model.Item1</i> and <i>@Model.Item2</i> that was stolen from <i>@Model.Victim1</i>.</p>
<p style="margin-left: 40px"> If you, <i>@Model.Reader</i>, have seen or interacted with <i>@Model.Suspect</i> and fail to report him, you will face investigation and a possible fine.</p>
<p style="margin-left: 40px">Attentively,</p>
<p style="margin-left: 40px">The city council</p>
